# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
*.env.*.local

# Test
coverage/
